@model MVC.Models.tbl_pasos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_pasos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.paso1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paso1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timp1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timp1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paso2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paso2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timp2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timp2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paso3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paso3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timp3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timp3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paso4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paso4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timp4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timp4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paso5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paso5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timp5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timp5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paso6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paso6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timp6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timp6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paso7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paso7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timp7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timp7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idpas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
