@model IEnumerable<MVC.Models.tbl_tip_plato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo_plato)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_plato)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idtplato }) |
            @Html.ActionLink("Details", "Details", new { id=item.idtplato }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idtplato })
        </td>
    </tr>
}

</table>
